@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #2E4F21;
  font-size: 16px;
  background: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

header {
  background: #A0F1BD;
  display: flex;
  justify-content:space-between;
  justify-items: center;

}

header .logo{
  margin: 30px;
  font-size: 200%;
  font-weight: 700;
  margin-left: 50px;
}

header .menu {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

header .menu p {
  font-size: 14px;
  font-weight: 500;

}

header .menu .but {
  background: #2E4F21;
  border-radius: 40px;
  height: 35px;
  margin-left: 15px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header .menu .but p{
  color: #fff;
  padding: 15px;
}


/*  MAIN  */

.wraper {
  background: #A0F1BD;
  display: flex;
  justify-content:space-between;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.wraper .left img{
  width: 500px; 
  height: auto;

}

.wraper .left {
  margin: 100px 0px;
  margin-right: 100px;
  width: 500px; 
  height: auto;
}


.wraper .right h1{
  font-size: 100px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: -1.5px;
}

.wraper .right {
  width: 1000px;
  margin-left: 50px;
  margin-top: 150px;
}
.wraper .right p {
  font-size: 23px;
  margin-bottom: 40px;
}

.wraper .right .but {
  background: #2E4F21;
  display: flex;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 20px;
  justify-items: center;
  justify-content: center;
}

.wraper .right .but p {
  color: white;
  font-size: 14px;
}

/* content  */
.content {
  display: flex;
  justify-content: center;
}


.content .slim {

  margin: 100px 0;
  text-align: center;
  width: 1100px;
  

}

.content .slim h1 {
  color: #2E4F21;
  font-size: 70px;
  font-weight: 500;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
}

.content .slim p {
  font-size: 20px;
  margin-bottom: 20px;
}

.content .slim .but {
  background: #2E4F21;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  height: 20px;
  text-align: center;
  margin-left: 500px;
}

.content .slim .but p {
  color: white;
  font-size: 12px;
  padding-top: 2px;
}

/* main  */
.main .blocks {
  display: flex;
  justify-content:last baseline;
  background: #D2F8DC;
  width: 1200px;
  margin: 20px 0;
  margin-left: 20px;
  border-radius: 30px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-right: 100px;
}

.main .blocks img {
  margin: 80px;
  margin-left: 150px;
  width: auto;
  height: auto;
  
}

.main .blocks .text {
  width: 450px;
  padding-left: 40px;
}

.main .blocks .text h3 {
  font-weight: 400;
  margin: 40px 0;
  font-size: 40px;
  color: #2E4F21;
}

.main .blocks .text p {
  color: #2E4F21;
  font-size: 18px;
  margin-bottom: 100px;
}

.main .blocks .text .buttons {
  display: flex;
  justify-content:last baseline;
  margin-left: -20px;
  
}

.main .blocks .text .buttons div {
  display: flex;
  margin: 0 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: white;
  height: 20px;
  width: 150px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 10px 5px;
}

.main .blocks .text .buttons div p {
  font-size: 14px;
  color: #506349;
}

/*   main 2  */
.main {
  display: flexbox;
  
}

.main .block2 {
  display: flex;
  justify-content: baseline;
  background: #D2F8DC;
  width: 1200px;
  margin: 30px 0;
  margin-right: 20px;
  border-radius: 30px;
  text-align: left;
  margin-bottom: 20px;
  justify-content: flex-end;
  margin-left: auto;
  padding-left: 100px;
}

.main .block2 .text {
  width: 450px;
  padding-left: 40px;
}

.main .block2 .text h3 {
  font-weight: 400;
  margin: 40px 0;
  font-size: 40px;
  color: #2E4F21;
  padding-top: 50px;
}

.main .block2 .text p {
  color: #2E4F21;
  font-size: 18px;
  margin-bottom: 80px;
}

.main .block2 .text .buttons div {
  display: flex;
  margin: 0 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: white;
  height: 20px;
  width: 150px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 10px 5px;
}

.main .block2 .text .buttons {
  display: flex;
  justify-content:last baseline;
  margin-left: -20px;
}

.main .block2 .text .buttons div p {
  font-size: 14px;
  color: #506349;
}

.main .block2 img {
  margin: 80px;
  margin-left: 150px;
  width: auto;
  height: auto;
}

/*    main 3    */

.main .block3 {
  display: flex;
  justify-content: baseline;
  background: #D2F8DC;
  width: 1200px;
  margin: 30px 0;
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 30px;
  text-align: left;
  margin-bottom: 20px;
  padding-right: 100px;
  right: 0;

}

.main .block3 img {
  margin: 80px;
  margin-left: 150px;
  width: 380px;
  height: auto;
}



.main .block3 .text {
  width: 450px;
  padding-left: 40px;
}

.main .block3 .text h3 {
  font-weight: 400;
  margin: 40px 0;
  font-size: 40px;
  color: #2E4F21;
  padding-top: 50px;
}

.main .block3 .text p {
  color: #2E4F21;
  font-size: 18px;
  margin-bottom: 80px;
}

.main .block3 .text .buttons {
  display: flex;
  justify-content:last baseline;
  margin-left: -20px;
  
}

.main .block3 .text .buttons div {
  display: flex;
  margin: 0 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: white;
  height: 20px;
  width: 150px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 10px 5px;
}

.main .block3 .text .buttons div p {
  font-size: 14px;
  color: #506349;
}

/*   Team   */

.happy {
  font-size: 70px;
  font-weight: 400;
  color: #2E4F21;
  text-align: center;
  margin: 90px 0;
}

.main .team {
  display: flex;
  justify-content: space-between;
}

.main .team .people {
  margin-left: 140px;
  width: 400px;

}

.main .team .people .first {
  background: #2E4F21;
  padding: 20px 0;
  border-radius: 10px;
}

.main .team .people .first hr {
  color: white;
  margin-left: 25px;
  margin-bottom: 20px;
  width: 340px;
}

.main .team .people .first h3 {
  color: white;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.main .team .people .first p {
  color: white;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 14px;
}



.main .team .people .second {

  padding: 20px 0;
  border-radius: 10px;
}

.main .team .people .second hr {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 20px;
  width: 340px;
}

.main .team .people .second h3 {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.main .team .people .second p {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 14px;
}


.main .team .people .third {

  padding: 20px 0;
  border-radius: 10px;
}

.main .team .people .third hr {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 20px;
  width: 340px;
}

.main .team .people .third h3 {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}

.main .team .people .third p {
  color: #506349;
  margin-left: 25px;
  margin-bottom: 25px;
  font-size: 14px;
}

.line {
  width: 2px;
  height: 500px;
  background: #2E4F21;
  margin-left: -4px;
}

.main .team .taylor {
  width: 770px;
  margin-right: 300px;
}

.main .team .taylor h3 {
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 60px;
}

.main .team .taylor .face {
  display: flex;
  justify-content: baseline;
  
}

.main .team .taylor .face p {
  margin-left: 20px;
  margin-top: 12px;
}