@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #2E4F21;
  font-size: 16px;
  background: #fff;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

header {
  background: #A0F1BD;
  display: flex;
  justify-content:space-between;
  justify-items: center;

}

header .logo{
  margin: 30px;
  font-size: 200%;
  font-weight: 700;
  margin-left: 50px;
}

header .menu {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  justify-content: center;
  align-items: center;
}

header .menu p {
  font-size: 14px;
  font-weight: 500;

}

header .menu .but {
  background: #2E4F21;
  border-radius: 40px;
  height: 35px;
  margin-left: 15px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header .menu .but p{
  color: #fff;
  padding: 15px;
}


/*  MAIN  */

.wraper {
  background: #A0F1BD;
  display: flex;
  justify-content:space-between;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.wraper .left img{
  width: 500px; 
  height: auto;

}

.wraper .left {
  margin: 100px 0px;
  margin-right: 100px;
  width: 500px; 
  height: auto;
}


.wraper .right h1{
  font-size: 100px;
  margin-bottom: 10px;
  font-weight: normal;
  letter-spacing: -1.5px;
}

.wraper .right {
  width: 1000px;
  margin-left: 50px;
  margin-top: 150px;
}
.wraper .right p {
  font-size: 23px;
  margin-bottom: 40px;
}

.wraper .right .but {
  background: #2E4F21;
  display: flex;
  border-radius: 30px;
  padding: 10px;
  width: 200px;
  height: 20px;
  justify-items: center;
  justify-content: center;
}

.wraper .right .but p {
  color: white;
  font-size: 14px;
}

/* content  */
.content {
  display: flex;
  justify-content: center;
}


.content .slim {

  margin: 100px 0;
  text-align: center;
  width: 1100px;
  

}

.content .slim h1 {
  color: #2E4F21;
  font-size: 70px;
  font-weight: normal;
  letter-spacing: -1.5px;
  margin-bottom: 30px;
}

.content .slim p {
  font-size: 20px;
  margin-bottom: 20px;
}

.content .slim .but {
  background: #2E4F21;
  border-radius: 30px;
  padding: 10px;
  width: 100px;
  height: 20px;
  text-align: center;
  margin-left: 500px;
}

.content .slim .but p {
  color: white;
  font-size: 12px;
  padding-top: 2px;
}

.main .blocks {
  display: flex;
  justify-content:last baseline;
  background: #D2F8DC;
  width: 1200px;
  margin: 20px 0;
  margin-left: 20px;
  border-radius: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.main .blocks img {
  margin: 80px;
  margin-left: 150px;
  width: auto;
  height: auto;
}

.main .blocks .text {
  width: 450px;
  padding-left: 40px;
}

.main .blocks .text h3 {
  font-weight: none;
  margin: 40px 0;
  font-size: 40px;
  color: #2E4F21;
}

.main .blocks .text p {
  color: #2E4F21;
  font-size: 18px;
  margin-bottom: 100px;
}

.main .blocks .text .buttons {
  display: flex;
  justify-content:last baseline;
  margin-left: -20px;
  
}

.main .blocks .text .buttons div {
  display: flex;
  margin: 0 20px;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: white;
  height: 20px;
  width: 150px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 10px 5px;
}

.main .blocks .text .buttons div p {
  font-size: 14px;
  color: #506349;
}